In [1]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
landing_data = pd.read_csv("datasets/ab_data.csv")
landing_data.head()

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

Finding data that makes misleading

In [5]:
landing_data.query('group == "control" and landing_page != "old_page"')

        user_id                   timestamp    group landing_page  converted
22       767017  2017-01-12 22:58:14.991443  control     new_page          0
240      733976  2017-01-11 15:11:16.407599  control     new_page          0
490      808613  2017-01-10 21:44:01.292755  control     new_page          0
846      637639  2017-01-11 23:09:52.682329  control     new_page          1
850      793580  2017-01-08 03:25:33.723712  control     new_page          1
...         ...                         ...      ...          ...        ...
293894   741581  2017-01-09 20:49:03.391764  control     new_page          0
293996   942612  2017-01-08 13:52:28.182648  control     new_page          0
294200   928506  2017-01-13 21:32:10.491309  control     new_page          0
294253   886135  2017-01-06 12:49:20.509403  control     new_page          0
294331   689637  2017-01-13 11:34:28.339532  control     new_page          0

[1928 rows x 5 columns]

In [6]:
landing_data.query('group == "treatment" and landing_page != "new_page"')

        user_id                   timestamp      group landing_page  converted
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
...         ...                         ...        ...          ...        ...
293773   688144  2017-01-16 20:34:50.450528  treatment     old_page          1
293817   876037  2017-01-17 16:15:08.957152  treatment     old_page          1
293917   738357  2017-01-05 15:37:55.729133  treatment     old_page          0
294014   813406  2017-01-09 06:25:33.223301  treatment     old_page          0
294252   892498  2017-01-22 01:11:10.463211  treatment     old_page          0

[1965 rows x 5 columns]

Now we want to create clean data

In [8]:
d1 = landing_data.query('group == "control" and landing_page == "old_page"')
d1

        user_id                   timestamp    group landing_page  converted
0        851104  2017-01-21 22:11:48.556739  control     old_page          0
1        804228  2017-01-12 08:01:45.159739  control     old_page          0
4        864975  2017-01-21 01:52:26.210827  control     old_page          1
5        936923  2017-01-10 15:20:49.083499  control     old_page          0
7        719014  2017-01-17 01:48:29.539573  control     old_page          0
...         ...                         ...      ...          ...        ...
294471   718310  2017-01-21 22:44:20.378320  control     old_page          0
294473   751197  2017-01-03 22:28:38.630509  control     old_page          0
294474   945152  2017-01-12 00:51:57.078372  control     old_page          0
294475   734608  2017-01-22 11:45:03.439544  control     old_page          0
294476   697314  2017-01-15 01:20:28.957438  control     old_page          0

[145274 rows x 5 columns]

In [9]:
d2 = landing_data.query('group == "treatment" and landing_page == "new_page"')
d2

        user_id                   timestamp      group landing_page  converted
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
6        679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8        817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9        839785  2017-01-15 18:11:06.610965  treatment     new_page          1
...         ...                         ...        ...          ...        ...
294462   677163  2017-01-03 19:41:51.902148  treatment     new_page          0
294465   925675  2017-01-07 20:38:26.346410  treatment     new_page          0
294468   643562  2017-01-02 19:20:05.460595  treatment     new_page          0
294472   822004  2017-01-04 03:36:46.071379  treatment     new_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[145311 rows x 5 columns]

In [13]:
landing_data = d1.merge(d2, how='outer')
landing_data.head()

   user_id                   timestamp      group landing_page  converted
0   630000  2017-01-19 06:26:06.548941  treatment     new_page          0
1   630001  2017-01-16 03:16:42.560309  treatment     new_page          1
2   630002  2017-01-19 19:20:56.438330    control     old_page          0
3   630003  2017-01-12 10:09:31.510471  treatment     new_page          0
4   630004  2017-01-18 20:23:58.824994  treatment     new_page          0

Now we are going to delete datas that are same

In [16]:
sum(landing_data['user_id'].duplicated())

3894

In [19]:
landing_data['user_id'].duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Name: user_id, Length: 294478, dtype: bool

In [20]:
landing_data[landing_data['user_id'].duplicated()]

        user_id                   timestamp      group landing_page  converted
2656     698120  2017-01-15 17:13:42.602796    control     old_page          0
2893     773192  2017-01-14 02:55:59.590927  treatment     new_page          0
7500     899953  2017-01-07 03:06:54.068237    control     new_page          0
8036     790934  2017-01-19 08:32:20.329057  treatment     new_page          0
10218    633793  2017-01-17 00:16:00.746561  treatment     old_page          0
...         ...                         ...        ...          ...        ...
294308   905197  2017-01-03 06:56:47.488231  treatment     new_page          0
294309   787083  2017-01-17 00:15:20.950723    control     old_page          0
294328   641570  2017-01-09 21:59:27.695711    control     old_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0
294355   744456  2017-01-13 09:32:07.106794  treatment     new_page          0

[3894 rows x 5 columns]

~ means we are working with the oposite part

In [22]:
landing_data = landing_data[~landing_data['user_id'].duplicated()]
landing_data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[290584 rows x 5 columns]

In [23]:
sum(landing_data['user_id'].duplicated())

0

Creating A and B

In [26]:
landing_data_a = landing_data.query('converted == 1')
landing_data_a

        user_id                   timestamp      group landing_page  converted
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
6        679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8        817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9        839785  2017-01-15 18:11:06.610965  treatment     new_page          1
15       644214  2017-01-22 02:05:21.719434    control     old_page          1
...         ...                         ...        ...          ...        ...
294396   838593  2017-01-15 09:56:31.455023  treatment     new_page          1
294405   712217  2017-01-11 10:34:30.176801    control     old_page          1
294420   795742  2017-01-09 01:06:58.299207    control     old_page          1
294430   733871  2017-01-21 17:54:08.810964  treatment     new_page          1
294443   665217  2017-01-10 23:29:01.767720    control     old_page          1

[34745 rows x 5 columns]

In [27]:
landing_data_b = landing_data.query('converted == 0')
landing_data_b

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
5        936923  2017-01-10 15:20:49.083499    control     old_page          0
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[255839 rows x 5 columns]

In [28]:
def ab_test(group_a:list, group_b:list, count:int):
    mean_diffs = np.empty([count,1])
    len_a = len(group_a)
    len_b = len(group_b)
    combined_group = np.append(group_a,group_b)
    label_a = np.ones(len_a)
    label_b = np.zeros(len_b)
    combined_label = np.append(label_a, label_b)
    combined_data = np.column_stack((combined_label, combined_group))
    np.random.shuffle(combined_data)
    len_combined_data = len(combined_data)
    for i in range(count):
        experiment_label = np.random.randint(0, 2, len_combined_data)
        experiment_data = np.column_stack((experiment_label, combined_data[:, 1]))
        group_a_mean = experiment_data[experiment_data[:,0] == 1][:,1].mean()
        group_b_mean = experiment_data[experiment_data[:,0] == 0][:,1].mean()
        mean_diffs[i] = group_a_mean - group_b_mean
    return mean_diffs