In [1]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
employee_df = pd.read_csv("datasets/Employee.csv")

In [7]:
ct_1 = pd.crosstab(employee_df['Attrition'], employee_df['JobSatisfaction'], margins=True)
ct_1

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

In [13]:
d_1 = np.array([ct_1.iloc[0, :-1], ct_1.iloc[1, :-1]])
d_1

array([[223, 234, 369, 407],
       [ 66,  46,  73,  52]], dtype=int64)

In [14]:
sp.chi2_contingency(d_1)

Chi2ContingencyResult(statistic=17.505077010348, pvalue=0.0005563004510387556, dof=3, expected_freq=array([[242.40612245, 234.85714286, 370.73877551, 384.99795918],
       [ 46.59387755,  45.14285714,  71.26122449,  74.00204082]]))

In [15]:
ct_2 = pd.crosstab(employee_df['Attrition'], employee_df["Education"], margins=True)
ct_2

Education    1    2    3    4   5   All
Attrition
No         139  238  473  340  43  1233
Yes         31   44   99   58   5   237
All        170  282  572  398  48  1470

In [17]:
d = np.array([ct_2.iloc[0, :-1], ct_2.iloc[1, :-1]])
d

array([[139, 238, 473, 340,  43],
       [ 31,  44,  99,  58,   5]], dtype=int64)

In [18]:
sp.chi2_contingency(d)

Chi2ContingencyResult(statistic=3.0739613982367193, pvalue=0.5455253376565949, dof=4, expected_freq=array([[142.59183673, 236.53469388, 479.77959184, 333.83265306,
         40.26122449],
       [ 27.40816327,  45.46530612,  92.22040816,  64.16734694,
          7.73877551]]))