In [1]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
employee_df = pd.read_csv("datasets/Employee.csv")

In [3]:
employee_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [4]:
ct = pd.crosstab(employee_df['Attrition'], employee_df['JobSatisfaction'], margins=True)
ct

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

In [5]:
obs = np.append(ct.iloc[0, :4].values, ct.iloc[1, :-1].values)
obs

array([223, 234, 369, 407,  66,  46,  73,  52], dtype=int64)

In [6]:
row_sum = ct.iloc[:-1,-1].values
row_sum

array([1233,  237], dtype=int64)

In [7]:
exp = []
for j in range(2):
    for value in ct.iloc[-1,:-1].values:
        exp.append(value * row_sum[j] / ct.loc["All", "All"])

In [8]:
exp

[242.4061224489796,
 234.85714285714286,
 370.7387755102041,
 384.99795918367346,
 46.593877551020405,
 45.142857142857146,
 71.26122448979592,
 74.00204081632653]

In [9]:
chi2_value = ((obs - exp) ** 2 / exp).sum()

Degree of freedome = (number of rows-1) * (number of columns-1)

In [12]:
dof = ((len(row_sum) - 1) * (len(ct.iloc[2, :-1]) - 1))
dof

3

In [13]:
sp.chi2.cdf(chi2_value, dof)

0.9994436995489613

In [16]:
p_value = 1 - sp.chi2.cdf(chi2_value, dof)
p_value

0.000556300451038716