In [2]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
orange_trees_data = pd.read_csv("datasets/orange_trees.csv")
orange_trees_data.head()

   tree_number     oranges
0         1223  305.470796
1         1224  208.357224
2         1225  318.145987
3         1226  274.531146
4         1227  245.627474

In [5]:
orange_trees_data.describe()

       tree_number     oranges
count    133.00000  133.000000
mean    1289.00000  277.852803
std       38.53786   50.922243
min     1223.00000  137.023145
25%     1256.00000  237.696112
50%     1289.00000  279.470482
75%     1322.00000  312.079787
max     1355.00000  434.025714

In [6]:
pop_mean = 271.98

In [7]:
sp.ttest_1samp(a=orange_trees_data['oranges'], popmean=pop_mean)

TtestResult(statistic=1.330036985223764, pvalue=0.18579963750179215, df=132)