In [2]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
orange_trees_data = pd.read_csv("datasets/orange_trees.csv")
orange_trees_data.head()

   tree_number     oranges
0         1223  305.470796
1         1224  208.357224
2         1225  318.145987
3         1226  274.531146
4         1227  245.627474