In [1]:
import pandas as pd
import numpy as np

CSV stands for Comma Separated Values

In [2]:
melb_data = pd.read_csv('datasets/melb_data/melb_data.csv')

For working with datas you have to convert it into pandas series at first

In [3]:
fruits = pd.Series(['Apple','Avacado','Banana','Cherry'])
fruits

0      Apple
1    Avacado
2     Banana
3     Cherry
dtype: object

In [4]:
fruits[0]

'Apple'

In [5]:
floated_numbers = pd.Series([1.6, 7.2, 8.3, 19.3])
floated_numbers

0     1.6
1     7.2
2     8.3
3    19.3
dtype: float64

As you can see the type changes as the elements inside
Because it uses C programming language

In [6]:
integer_numbers = pd.Series([1, 7, 3, 19])
integer_numbers

0     1
1     7
2     3
3    19
dtype: int64

In [7]:
fruits = pd.Series({
    'f1': "Apple",
    'f2': "Banana",
    'f3': "Avacado"
})
fruits

f1      Apple
f2     Banana
f3    Avacado
dtype: object

Like working with dictionaries

In [8]:
fruits['f1']

'Apple'

Although we are using dictionaries we can use indexing with iloc[] method

In [9]:
fruits.iloc[1]

'Banana'

In [10]:
print(f"indexes: {fruits.index}")
print(f"values: {fruits.values}")

indexes: Index(['f1', 'f2', 'f3'], dtype='object')
values: ['Apple' 'Banana' 'Avacado']

In [11]:
books = pd.Series(['Romance','Science','Adventure','Historic'], index=['b1','b2','b3','b4'])
books

b1      Romance
b2      Science
b3    Adventure
b4     Historic
dtype: object

We can use numpy methods on pandas series

In [12]:
weights = pd.Series([108,156,119,99,130])
np.sum(weights)

612

In [13]:
fruits_1 = pd.Series({
    "name": "Apple",
    "color": "Red",
    "price": 2
})
fruits_2 = pd.Series({
    "name": "Banana",
    "color": "Yellow",
    "price": 4
})
fruits_3 = pd.Series({
    "name": "Cherry",
    "color": "Red",
    "price": 1
})

We can create dataframe by using DataFrame method and give it a list of pd series and indexs
([series], index=[])

In [14]:
fruit_df = pd.DataFrame([fruits_1, fruits_2, fruits_3], index=['f1', 'f2', 'f3'])
fruit_df

      name   color  price
f1   Apple     Red      2
f2  Banana  Yellow      4
f3  Cherry     Red      1

In [15]:
fruit_df.loc['f1']

name     Apple
color      Red
price        2
Name: f1, dtype: object

In [16]:
fruit_df.loc['f1', 'price']

2

In [17]:
fruit_df.iloc[0,0]

'Apple'

In [18]:
fruit_df['price']['f1']

2

In [19]:
fruit_df.T

          f1      f2      f3
name   Apple  Banana  Cherry
color    Red  Yellow     Red
price      2       4       1

In [20]:
fruit_df[['name']]

      name
f1   Apple
f2  Banana
f3  Cherry

Deleting a row from dataframe

In [21]:
fruit_df.drop('f1', inplace=True)
fruit_df

      name   color  price
f2  Banana  Yellow      4
f3  Cherry     Red      1

In [27]:
melb_data = pd.read_csv("datasets/melb_data/melb_data.csv")
melb_data

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

The number of rows in this dataset

In [28]:
len(melb_data)

18396

Shows the columns of this dataset

In [29]:
melb_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Selecting a part with SellerG = Biggin and creating a new dataset from it

In [33]:
melb_data_Biggin = melb_data[melb_data['SellerG'] == "Biggin"]
melb_data_Biggin

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
10,17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18262,23383,Prahran,69 Greville St,4,h,2668000.0,S,Biggin,26/08/2017,4.6,...,2.0,2.0,383.0,NaN,NaN,NaN,-37.84879,144.98882,Southern Metropolitan,7717.0
18281,23404,Richmond,170 Coppin St,4,h,1800000.0,S,Biggin,26/08/2017,2.4,...,1.0,4.0,418.0,NaN,NaN,NaN,-37.82368,145.00271,Northern Metropolitan,14949.0
18291,23418,Rowville,8 Lakeside Bvd,3,h,905000.0,S,Biggin,26/08/2017,23.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,11667.0
18312,23443,South Yarra,8/37 Darling St,1,u,385000.0,S,Biggin,26/08/2017,2.7,...,1.0,1.0,NaN,42.0,1970.0,NaN,-37.83627,144.99166,Southern Metropolitan,14887.0
18373,23515,Vermont South,308 Hawthorn Rd,3,t,931000.0,S,Biggin,26/08/2017,17.2,...,2.0,2.0,NaN,152.0,2009.0,NaN,-37.84780,145.18855,Eastern Metropolitan,4280.0

Only the top 5 rows

In [34]:
melb_data.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

Only the last 5 rows

In [35]:
melb_data.tail()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [38]:
melb_data.count

<bound method DataFrame.count of        Unnamed: 0        Suburb           Address  Rooms Type      Price  \
0               1    Abbotsford      85 Turner St      2    h  1480000.0
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date  Distance  ...  Bathroom  Car  Landsize  \
0          S      Biggin   3/12/2016       2.5  ...       1.0  1.0     202.0
1          S      Biggin   4/02/2016       2.5  ...       1.0  0.0     156.0
2         SP      Biggin   4/03/2017       2.5  ...       2.0  0.0     134.0
3         PI      Biggin   4/03/2017       2.5  ...       2.0  1.0      94.0
4         VB      Nelson   4/06/2016       2.5  ...       1.0  2.0     120.0
...      ...         ...         ...       ...  ...       ...  ...       ...
18391     SP        Greg  26/08/2017       6.8  ...       2.0  1.0       NaN
18392     PI     Sweeney  26/08/2017       6.8  ...       1.0  5.0     866.0
18393      S  Buckingham  26/08/2017      12.7  ...       3.0  2.0       NaN
18394     SP     Village  26/08/2017       6.3  ...       1.0  1.0     362.0
18395     VB     Village  26/08/2017       6.3  ...       2.0  2.0       NaN

       BuildingArea  YearBuilt  CouncilArea  Lattitude Longtitude  \
0               NaN        NaN        Yarra  -37.79960  144.99840
1              79.0     1900.0        Yarra  -37.80790  144.99340
2             150.0     1900.0        Yarra  -37.80930  144.99440
3               NaN        NaN        Yarra  -37.79690  144.99690
4             142.0     2014.0        Yarra  -37.80720  144.99410
...             ...        ...          ...        ...        ...
18391          89.0     2010.0          NaN  -37.86393  144.90484
18392         157.0     1920.0          NaN  -37.85908  144.89299
18393           NaN        NaN          NaN  -37.72006  145.10547
18394         112.0     1920.0          NaN  -37.81188  144.88449
18395         139.0     1950.0          NaN  -37.81829  144.87404

                  Regionname  Propertycount
0      Northern Metropolitan         4019.0
1      Northern Metropolitan         4019.0
2      Northern Metropolitan         4019.0
3      Northern Metropolitan         4019.0
4      Northern Metropolitan         4019.0
...                      ...            ...
18391   Western Metropolitan         6380.0
18392   Western Metropolitan         6380.0
18393  Northern Metropolitan         1369.0
18394   Western Metropolitan         6543.0
18395   Western Metropolitan         6543.0

[18396 rows x 22 columns]>

Counts the not Null values of each column

In [39]:
melb_data.count()

Unnamed: 0       18396
Suburb           18396
Address          18396
Rooms            18396
Type             18396
Price            18396
Method           18396
SellerG          18396
Date             18396
Distance         18395
Postcode         18395
Bedroom2         14927
Bathroom         14925
Car              14820
Landsize         13603
BuildingArea      7762
YearBuilt         8958
CouncilArea      12233
Lattitude        15064
Longtitude       15064
Regionname       18395
Propertycount    18395
dtype: int64

In [40]:
melb_data['Price'].count()

18396