In [ ]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns
from ab_test_permutive import ab_test

In [ ]:
weight_ds = pd.read_csv("../datasets/birth_weight.csv")

In [ ]:
weight_ds

    baby_weight_kg
0            3.125
1            3.456
2            2.987
3            3.523
4            3.234
5            3.012
6            3.678
7            2.845
8            3.321
9            3.156
10           3.432
11           2.765
12           3.587
13           3.289
14           3.045
15           3.334
16           3.178
17           3.456
18           2.934
19           3.623
20           3.267
21           3.089
22           3.512
23           3.134
24           3.298
25           2.876
26           3.445
27           3.223
28           3.167
29           3.034

In [ ]:
mu = np.mean(weight_ds['baby_weight_kg'])
std = np.std(weight_ds['baby_weight_kg'])
len_weight = len(weight_ds)

In [ ]:
print(f'mean:{mu} \n std:{std} \n len:{len_weight}')

mean:3.234166666666667
 std:0.23622998445488572
 len:30

In [ ]:
pop_mean = 3.3

In [ ]:
sp.ttest_1samp(a=weight_ds['baby_weight_kg'], popmean=pop_mean)

TtestResult(statistic=-1.5007550824722888, pvalue=0.14422908171906523, df=29)