In [28]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns
from ab_test_permutive import ab_test

In [29]:
market_ds = pd.read_csv("../datasets/marketing_AB.csv")

In [30]:
market_ds

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14
...,...,...,...,...,...,...,...
588096,588096,1278437,ad,False,1,Tuesday,23
588097,588097,1327975,ad,False,1,Tuesday,23
588098,588098,1038442,ad,False,3,Tuesday,23
588099,588099,1496395,ad,False,1,Tuesday,23
588100,588100,1237779,ad,False,1,Tuesday,23

In [31]:
group_a = market_ds[
    (market_ds['test group'] == 'ad')
    &
    (market_ds['converted'].notnull())
]['converted']
group_a

0         False
1         False
2         False
3         False
4         False
          ...
588096    False
588097    False
588098    False
588099    False
588100    False
Name: converted, Length: 564577, dtype: bool

In [32]:
group_b = market_ds[
    (market_ds['test group'] == 'psa')

]['converted']
group_b

18        False
38        False
68        False
140       False
157       False
          ...
588052    False
588063    False
588066    False
588069    False
588081    False
Name: converted, Length: 23524, dtype: bool

In [33]:
group_a.mean()

0.025546559636683747

In [34]:
group_b.mean()

0.01785410644448223

Bad dataset

In [35]:
ab_test(group_a, group_b, 1000)

0.0